\graph_HMD\.ipynb_checkpoints
\graph_HMD\output\*
\graphs_HMD_Rosstat\.ipynb_checkpoints
\graphs_HMD_Rosstat\output\*
\graphs_World_Bank_Group\.ipynb_checkpoints
\graphs_World_Bank_Group\output\*
\maps Fla-shop.com.ru\.ipynb_checkpoints
\maps Fla-shop.com.ru\output\*
\SVG-diagrams\.ipynb_checkpoints
\SVG-diagrams\output\*
\table_LE_Rosstat\.ipynb_checkpoints
\table_LE_Rosstatoutput\*
\table_LE_WHO-continents\.ipynb_checkpoints
\table_LE_WHO-continents\output\*
\table_LE_World_Bank_Group\.ipynb_checkpoints
\table_LE_World_Bank_Group\output\*
